/*body elements*/
html, body, .wrapper{
    height: 100%;
    width: 100%;
    margin: 0;

}
body {
	font-size: 2em;
}
nav li{
    display: block;
    padding: 10px 20px;
    float: right;
    line-height: 100px;
}
nav a{
  color: #FFFFFF;
}
nav a :hover{
  text-decoration: none;
}
/*css classes*/
.wrapper{
  border: 1px solid red;
  margin-top: 0;
}
.social{
  color: #FFFFFF;
  line-height: 30px;
}

/*css ids*/
#contactinfor{
  background-color: #00796B;
  height: 30px;
}
#phoneno{
  color: #FFFFFF;
}
#phone{
  line-height: 30px;
}
#nav{
  height: 100px;
  background-color: #009688;
}
