/*body elements*/
html, body, .wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
	font-family: "Droid Serif", serif;
	font-size: 2em;
    color: #7f8c97;
    background-color: #e9f0f5;
}
nav li{
    font-family: "Droid Serif", serif;
}
/*css classes*/
.wrapper{
    background: teal;
}
.mobile{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    button{
        position: absolute;
        top: 15px;
        right: 15px;
        border: 0;
        text-indent: 200%;

    }

}
.desktop{
}

/*css ids*/
