/*body elements*/
html, body, .wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
	font-family: "Droid Serif", serif;
	font-size: 2em;
}
nav li{
    font-family: "Droid Serif", serif;
}
/*css classes*/
.wrapper{
    background-image: url();
}


/*css ids*/
